@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gutter {
  background-color: hsl(var(--b3));
  background-position: 50%;
  background-repeat: no-repeat;
}

.gutter.gutter-horizontal {
  cursor: col-resize
}


.gutter.gutter-vertical {
  cursor: row-resize
}

.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.constrol-split {
  overflow: auto;
}

.video-player-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: auto;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}